@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	-webkit-user-drag: none;
	user-select: none; /* Standard syntax */
}

body {
	background: linear-gradient(152deg, rgba(0, 0, 0, 1) 0%, rgba(8, 8, 8, 1) 100%);
}
